<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
	   <meta charset="utf-8">
	   
	</head>
	<body>
	    <footer th:fragment="footer" class="footer mt-auto py-3 bg-dark">
	     <div class="container text-center">
	     
             <span class="text-muted text-white">Diseñado por Gabriel Molina Com 2112 &copy - 2021 - Ciudad de Palpala</span>
             	     
	         <nav>
	         <a href="www.facebook.com" target="blank"><i class="fab fa-facebook fa-2x"></i></a>
	         <a href="www.gmail.com" target="blank"><i class="fas fa-envelope fa-2x"></i></a>
	         <a href="www.twitter.con" target="blank"><i class="fab fa-twitter-square fa-2x"></i></a>	         
	         </nav>  	    
		    
		     <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		     <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		     <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
		  </div> 
	    </footer>
	</body>
</html>