<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		
	</head>
	
	<body>
	    <header th:fragment="header">
	     <div class="jumbotron jumbotron-fluid" style="background-image: url(/img/banner.jpg);background-size:100%">      
			  <div class="container">			  
			   <div class="col">
			     <img class="img-fluid float-left pr-2 pt-3" alt="logo" src="/img/logo.jpg">	       
	           </div>		  
			    <h1 class="display-4 text-white">Alimentos Noa</h1>
			    <p class="lead text-white">El mejor alimento, al mejor precio</p>			
              
			  </div>
          </div>	    
	    </header>
	</body>
</html>

